In [1]:
"""
案例分析：
    根据用户的位置，定位准确性，时间戳，来预测用户入住位置
数据:
    ./data/train.csv
        row_id:登记事件的ID
        x,y    ： 坐标
        accuracy ： 定位准确性
        time     ：  时间戳
        place_id ：入住的位置ID
分析：
    特征值 ： （x, y, accuracy, time）  目标值(place_id)
"""

'\n案例分析：\n    根据用户的位置，定位准确性，时间戳，来预测用户入住位置\n数据:\n    ./data/train.csv\n        row_id:登记事件的ID\n        x,y    ： 坐标\n        accuracy ： 定位准确性\n        time     ：  时间戳\n        place_id ：入住的位置ID\n分析：\n    特征值 ： （x, y, accuracy, time）  目标值(place_id)\n'

In [2]:
from sklearn.preprocessing import StandardScaler  # 标准化
from sklearn.neighbors import KNeighborsClassifier # K-近邻算法估计器
from sklearn.model_selection import train_test_split # 数据集划分
import pandas as pd

In [3]:
# 读取csv数据集，进行处理
data = pd.read_csv('./data/train.csv', usecols=['x', 'y', 'accuracy', 'time', 'place_id'])

In [4]:
data.head(10)

        x       y  accuracy    time    place_id
0  0.7941  9.0809        54  470702  8523065625
1  5.9567  4.7968        13  186555  1757726713
2  8.3078  7.0407        74  322648  1137537235
3  7.3665  2.5165        65  704587  6567393236
4  4.0961  1.1307        31  472130  7440663949
5  3.8099  1.9586        75  178065  6289802927
6  6.3336  4.3720        13  666829  9931249544
7  5.7409  6.7697        85  369002  5662813655
8  4.3114  6.9410         3  166384  8471780938
9  6.3414  0.0758        65  400060  1253803156

In [5]:
# 目标值
x = data['place_id']
# 特征值
y = data.drop(['place_id'],axis=1)

In [6]:
# 进行数据集划分
x_train, x_test, y_train, y_test = train_test_split(y, x, test_size=0.25)

In [7]:
std = StandardScaler()
x_train = std.fit_transform(x_train) # 训练集的特征值做标准化
x_test = std.transform(x_test) # 测试集的特征值做标准版

In [8]:
# 进行训练算法
knn = KNeighborsClassifier(n_neighbors=5)

In [ ]:
knn.fit(x_train, y_train) # 把数据输入到算法中

In [ ]:
# 预测结果
y_predict = knn.predict()

In [ ]:
y_predict